* {
    padding: 0;
    margin: 0;
    font-family: sans-serif
}

.container {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0
}

.section1{
    width: 100%;
    height: 800px;
    background-image: url('../images/image1.jpg');
    background-size: cover;
    color: white;
}

.section1--contact {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 2px solid orangered

}

.contact--hotline,.contact--time,.contact--address {
    display: flex;
    padding-bottom: 20px;
    font-size: 18px
}
.contact--time,.contact--address .i {
    margin-right: 5px
}

.section1--content {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-70%);
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.content--title h5 {
    font-family: 'Roboto Slab',serif;
    color: orangered;
    font-weight: 400;
    line-height: 24px;
    font-size: 20px;
    letter-spacing: 3px;
}

.content--name {
    padding : 30px 0 20px 0;
    font-weight: 400;
    line-height: 68px;
    letter-spacing: 4px;
    font-size: 60px;
    border-bottom: 2px solid orangered
}

.content--info {
    padding: 30px 0 20px 0;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 2px;
    font-size: 18px;
}

.content--time {
    padding: 30px 0 20px 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap
}

.content--time .time {
    width: 70%;
    height: auto;
    font-size: 30px;
    text-align: center;
    background-color: orangered;
    line-height: 40px
}

.content--time .suprisenow {
    width: 30%;
    height: auto;
    box-sizing: border-box;
    border: 2px solid white;
    text-align:  center;
    line-height: 35px;
    transition: 0.35s
}
.content--time .suprisenow:hover {
    color: white;
    background-color: orangered;
    border: 2px solid orangered
}



.section2 { 
    position: relative;
    width: 100%;
    height: 800px;
    color: gray;
    border-bottom: 1px solid black
}

.section2-title .title-title {
    position: absolute;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
    padding: 50px 0 20px 0;
    color: rgba(66,66,66,1);
    font-weight: 1000;
    line-height: 34px;
    font-size: 20px;
    text-align: center;
}
.section2-title .title-title hr {
    margin: 10px 0 0 0 ;
    width: 20% ;
    border-top: 1px solid orangered;
    transform: translateX(200%)
}

.section2-title .title-info {
    position: absolute;
    width: 70%;
    left: 50%;
    top: 80px; 
    transform: translateX(-50%);
    padding: 50px 0 20px 0;
    color: rgba(66,66,66,1);
    font-weight: 50;
    line-height: 20px;
    font-size: 15px;
    text-align: center;
}

.section2-video {
    
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 2px solid black
}

.section2-info {
    
    position: absolute;
    top: 550px;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

.section2-info .info-info1,.info-info2{
    width: calc(100%/2 - 30px);
    height: auto;
    
}

.info1-header,.info2-header {
    width: 80%;
    padding: 15px 0 15px 0;
    display: flex;
    border-bottom: 1px solid orangered;
    font-size: 20px
}

.info1-content,.info2-content {
    padding: 30px 0 0 0;

}

.section3 { 
    position: relative;
    width: 100%;
    height: 800px;
    color: white;
    border-bottom: 1px solid black;
    background-color: rgb(39, 38, 38)
}

.section3-title2 .title2-title {
    position: absolute;
    width: 50%;
    left: 50%;
    color: white;
    transform: translateX(-50%);
    padding: 50px 0 20px 0;
    font-weight: 1000;
    line-height: 34px;
    font-size: 20px;
    text-align: center;
}
.section3-title2 .title2-title hr {
    margin: 10px 0 0 0 ;
    width: 20% ;
    border: 0.5px solid orangered;
    transform: translateX(200%)
}

.section3-title2 .title2-info {
    position: absolute;
    width: 70%;
    left: 50%;
    top: 80px; 
    transform: translateX(-50%);
    padding: 50px 0 20px 0;
    font-weight: 50;
    line-height: 20px;
    font-size: 15px;
    text-align: center;
}

.section3-content2 {
    position: absolute;
    width: 60%;
    top: 240px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.section3-content2 .item {
    width:  calc(100%/2 - 15px);
    height: 230px;
    margin-bottom: 30px;
}


.section3-content2 .item:nth-child(1){
    background-image: url('../images/image2.jpg');
    background-size: cover;
}
.section3-content2 .item:nth-child(2){
    background-color: white
}
.section3-content2 .item:nth-child(3){
    background-color: white
}
.section3-content2 .item:nth-child(4){
    background-image: url('../images/image3.jpg');
    background-size: cover;
}

.section3 .item--header {
    color: rgb(39, 38, 38);
    padding: 20px 0 20px 20px;
}

.section3 .item--day {
    color: orangered;
    padding: 0 0 15px 20px;
}

.section3 .item--content {
    color: rgb(39, 38, 38);
    padding: 0 0 0 20px;
}


.section4 { 
    position: relative;
    width: 100%;
    height: 800px;
    color: gray;
    border-bottom: 1px solid black
}

.section4-title3 .title3-title {
    position: absolute;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
    padding: 50px 0 20px 0;
    color: rgba(66,66,66,1);
    font-weight: 1000;
    line-height: 34px;
    font-size: 20px;
    text-align: center;
}
.section4-title3 .title3-title hr {
    margin: 10px 0 0 0 ;
    width: 20% ;
    border-top: 1px solid orangered;
    transform: translateX(200%)
}

.section4-title3 .title3-info {
    position: absolute;
    width: 70%;
    left: 50%;
    top: 80px; 
    transform: translateX(-50%);
    padding: 50px 0 20px 0;
    color: rgba(66,66,66,1);
    font-weight: 50;
    line-height: 20px;
    font-size: 15px;
    text-align: center;
}


.section4-content3 {
    position: absolute;
    top: 250px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    left: 50%;
    transform: translateX(-50%)
}

.section4-content3 .content3-image,.content3-info {
    width: calc(100%/2 - 30px);
    height: 450px;
    
}

.content3-image {
    background-image: url('../images/image4.jpg');
    background-size: cover
}

.content3-info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
}
.info-content {
    height: calc(100%/3 - 20px);
    
}
.section4 .content-text { 
    display: flex;
    justify-content: space-between;
    padding: 0 0 15px 0;
    color: rgba(15,15,15,1);
    font-weight: bold
}
.section4 .content-text i{
    padding: 0 8px 0 0;
    color: orangered;
}
.section4 .content-time {
    padding: 0 0 15px 30px;
    color: orangered;
    font-weight: bold
}

.section4 .content-address{
    padding: 0 0 0 30px;
    font-weight: bold
}


.section5 { 
    position: relative;
    width: 100%;
    height: 800px;
    color: white;
    border-bottom: 1px solid black;
    background-color: rgb(39, 38, 38)
}

.section5-title4 .title4-title {
    position: absolute;
    width: 50%;
    left: 50%;
    color: white;
    transform: translateX(-50%);
    padding: 50px 0 20px 0;
    font-weight: 1000;
    line-height: 34px;
    font-size: 20px;
    text-align: center;
}
.section5-title4 .title4-title hr {
    margin: 10px 0 0 0 ;
    width: 20% ;
    border: 0.5px solid orangered;
    transform: translateX(200%)
}

.section5-title4 .title4-info {
    position: absolute;
    width: 70%;
    left: 50%;
    top: 80px; 
    transform: translateX(-50%);
    padding: 50px 0 20px 0;
    font-weight: 50;
    line-height: 20px;
    font-size: 15px;
    text-align: center;
}

.section5-content4 {
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.section5-image {
    width: calc(100%/3 - 15px);
    height: 230px;
    
    margin-bottom: 15px;
}
.section5-image:nth-child(1){
    background-image: url('../images/image5.jpg');
    background-size: cover
}
.section5-image:nth-child(2){
    background-image: url('../images/image6.jpg');
    background-size: cover
}
.section5-image:nth-child(3){
    background-image: url('../images/image7.jpg');
    background-size: cover
}
.section5-image:nth-child(4){
    background-image: url('../images/image8.jpg');
    background-size: cover
}
.section5-image:nth-child(5){
    background-image: url('../images/image9.jpg');
    background-size: cover
}
.section5-image:nth-child(6){
    background-image: url('../images/image10.jpg');
    background-size: cover
}



.section6 { 
    position: relative;
    width: 100%;
    height: 700px;
    color: gray;
    border-bottom: 1px solid black
}

.section6-title5 .title5-title {
    position: absolute;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
    padding: 50px 0 20px 0;
    color: rgba(66,66,66,1);
    font-weight: 1000;
    line-height: 34px;
    font-size: 20px;
    text-align: center;
}
.section6-title5 .title5-title hr {
    margin: 10px 0 0 0 ;
    width: 20% ;
    border-top: 1px solid orangered;
    transform: translateX(200%)
}

.section6-title5 .title5-info {
    position: absolute;
    width: 70%;
    left: 50%;
    top: 80px; 
    transform: translateX(-50%);
    padding: 50px 0 20px 0;
    color: rgba(66,66,66,1);
    font-weight: 50;
    line-height: 20px;
    font-size: 15px;
    text-align: center;
}


.section6-content5{
    position: absolute;
    top: 250px;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    left: 50%;
    transform: translateX(-50%)
}

.section6-info {
    
    
    width: calc(100%/3 - 20px);
    height: 300px;
    

}


.section6 .info-price {
    text-align: center;
    width: 80%;
    height: 80%;
    border: 2px solid gray;
    transform: translate(10%,10%)
    
}
.section6 .info-price h1{
    padding: 20px 0 0 0 ;
    font-weight: bold;
    color: rgb(36, 32, 32);
    font-size: 40px;
}

.section6 .info-price hr{
    margin: 20px 20px 20px 20px;
}
.section6 .info-price p{
    margin: 0 20px 0 20px;
}



.section7 {
    position: relative;
    width: 100%;
    height: 700px;
    background-image: url('../images/image11.jpg');
    background-size: cover;
    
}
.section7--content1 {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    height: auto;
}

.section7--content1 .content1--info1 {
    width: 35%;
    color:rgb(46, 44, 44);
    font-size: 35px;
    text-align: center;
    background-color: orangered;
    
}
.section7--content1 .content1--info1 h2 {
    padding: 25px 0 25px 0
}

.section7--content1 .content1--info2 {
    width: 65%;
    color: white;
    font-size: 23px;
    box-sizing: border-box;
    border: 3px solid orangered
}
.section7--content1 .content1--info2 h2 {
    padding: 15px 0 15px 30px
}

.section7--content2 {
    width: 50%;
    position: absolute;
    top: 350px;
    left:50%;
    transform: translateX(-50%);
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: bold
    
}

.section7--content3 {
    width: 20%;
    position: absolute;
    top: 500px;
    left:50%;
    transform: translateX(-50%);
    color: white;
    background-color: orangered;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    line-height: 50px
}
.footer {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center ;
    background-color: rgb(32, 32, 32);
    padding: 50px 0 0 0 
}

.footer-content {
    padding-right: 10px;
    width: 35%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.footer-address {
    
    display: flex;
    width: 100%;
    height: auto;
    border-bottom: 1px solid gray
    }
.image {
    width: 30%;
}
.image img {
    width: 90%;
    height: auto
}
.address h2 {
    color:#fff;
    padding: 0 0 5px 0;
    font-weight: 50;
}
.address p {
    font-size: 15px;
    color: gray
}
.footer-message {
    padding: 30px 0 0 0 ;
    width: 100%;
    height: auto;
    }
.footer-message h2 { 
    color: #fff;
    font-weight: 50;
    font-size: 18px;
    padding: 0 0 10px 0
}
.footer-message p {
    color: gray;
    font-size: 15px
}
.footer-form {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0 0 0;
    justify-content: space-between 10px ;
}

.form-control-name,.form-control-email {
    margin: 10px 0 0 0;
    width: 49%;
    height: 30px;
    background-color: rgb(31, 30, 30);
    border: 1px solid gray
}

.form-control-phone {
    margin: 10px 0 0 0;
    width: 100%;
    height: 30px;
    background-color: rgb(31, 30, 30);
    border: 1px solid gray
}

.form-control-message {
    margin: 10px 0 0 0;
    width: 100%;
    height: 200px;
    background-color: rgb(31, 30, 30);
    border: 1px solid gray
}
.form-button {
    padding: 12px 0 0 0;
    border: none;
    width: 40%;
    height: 40px;
    color: white;
    background-color: orangered;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 100;
    }
.footer-map {
    width: 35%;
    height: auto;
    
}
 



@media(max-width: 850px){
    .section2 {
        max-width: 800px;
        height: 900px;
    }
    .section3 {
        max-width: 800px;
        height: 1300px;
    }
    .section3 .item{
        width: 100%;
    }
    .section4 {
        max-width: 800px;
        height: 1100px;
    }
    .section4 .content3-image {
        width: 100%
    }
    .section4 .content3-info {
        width: 100%;
    }
    .section6 {
        max-width: 800px;
        height: 1200px;
    }
    .section6-info {
        width: 100%
    }
    
}

@media(max-width: 576px)
{
    .section1{
        max-width: 500px;
        height: 1000px;
    }
    .section1 .content--time .time {
        width: 150%;
        height: auto;
    }
    .section1 .content--time .suprisenow{
        width: 150%;
        height: auto;
    }
    .section2 {
        max-width: 500px;
        height: 1100px;
    }
    .section2-title {
        width: 100%;
        height: 300px;

    }
    .section2-video {
        top: 300px
    }
    .section2-info {
        top: 650px
    }
    .section2 .info-info1,.info-info2 {
        width: 100%;
    }
    .section3 {
        max-width: 500px;
        height: 1300px;
    }
    .section3 .item{
        width: 100%;
    }
    .section4 {
        max-width: 500px;
        height: 1100px;
    }
    .section4 .content3-image {
        width: 100%
    }
    .section4 .content3-info {
        width: 100%;
    }
    .section4 .content-text { 
        display: flex;
        justify-content: space-between;
        padding: 0 0 5px 0;
        color: rgba(15,15,15,1);
        font-weight: bold
    }
    .section4 .content-text i{
        padding: 0 0 0 0;
        color: orangered;
    }
    .section4 .content-time {
        padding: 0 0 5px 30px;
        color: orangered;
        font-weight: bold
    }
    
    .section4 .content-address{
        padding: 0 0 0 30px;
        font-weight: bold
    }
    .section5 {
        max-width: 500px;
        height: 1800px;
    }
    .section5-image {
        width: 100%;
    }
    .section6 {
        max-width: 500px;
        height: 1200px;
    }
    .section6-info {
        width: 100%
    }
    .section7 {
        max-width: 500px;
        height: 900px;
    }
    .section7--content1{
        top:100px;
        width: 100% ;
    }
    .section7 .content1--info1{
        width: 100%;
    }
    .section7 .content1--info2{
        width: 100%;
    }
    .section7 .section7--content2{
        top: 500px
    }
    .section7--content3 {
        width: 50%;
        top: 700px
    }
    .footer {
        max-width: 500px;
        height: auto;
        background-color: rgb(31, 30, 30)
    }
    .footer-address{
        width: 83%;
        left: 50px;
    }
    .footer .image,.address {
        width: 100%;
    }
    .image img {
        width: 30%;
        height: auto;
    }
    .footer-message {
        width: 83%;
        height: auto;
        position: absolute;
        top:250px;
        left: 50px;
        
    }
    .footer-message h2 {
        font-size: 18px;
        font-weight: 100
    }
    
    .footer-message p {
        font-size: 14px;
        color: gray
    }
    .footer-form {
        width: 100%;
        left: 50px
    }
    .form-control-phone {
        width: 83%;
    }
    .form-control-name,.form-control-email {
        width: 41%;
    }
    .form-control-message {
        width: 83%;
    }
} 

